html, body {
    font-family: Arial, Helvetica;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(232, 255, 255);
    touch-action: manipulation;
}

button {
    font-size: 125%;
    font-family: Arial, Helvetica;
    color: rgb(73, 0, 141);
    background-color: rgb(54, 145, 161);
    touch-action: manipulation;
}

.invalid-btn {
    color: black;
    background-color: white;
}

p {
    margin: 0;
}
